body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}

h1,h2,h3,h4,h5,h6 {
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 300;
}

h1 {
  font-size: 36px;
  border-bottom: 1px solid;
}

h1, hr {
  border-color: hsl(210, 13%, 30%);
}

p {margin-bottom: 10px;}
ul {list-style: none;}

a {
  text-decoration: none;
}

/* Media Queries */
@media screen and (min-width: 480px) {
  h1,h2,h3,h4,h5,h6 {margin-top: 20px;}
  .row {padding: 20px;}
}
