@import "reset";
@import "layout";

// Colors
$orange: hsl(30, 83%, 59%);
$body-padding: 15px;

body {
  color: hsl(210, 13%, 83%);
  background: hsl(210, 17%, 13%);
  background: linear-gradient(
    135deg,
    hsl(210, 17%, 13%),
    hsl(210, 17%, 13%),
    hsl(210, 17%, 25%)
  );
}

a, a:visited {
  color: $orange;
}

pre {
  background: hsl(210, 13%, 82%);
  color: hsl(210, 13%, 12%);
  margin: 15px ($body-padding * -1);
  padding: 10px;
  overflow-x: scroll;
  box-shadow: 4px 4px 15px hsla(210, 0%, 0%, 80);
}
@media (min-width: 768px) {
  pre {
    margin-left: 15px;
    margin-right: 15px;
  }
}


.row {
  max-width: 960px;
  padding-left: $body-padding;
  padding-right: $body-padding;
  margin-left: auto;
  margin-right: auto;
  clear: both;
}
@media screen and (min-width: 768px) { .row { width: 750px; } }
@media screen and (min-width: 992px) { .row { width: 970px; } }
@media screen and (min-width: 1200px) { .row { width: 1170px; } }

.lead {
  font-size: 1.3125em;
}
.footnotes {
  ol {

  }
}
