.sidebar {
  width: $sidebar-width;
  height: 100%;
  box-sizing: border-box;
  padding: 16px 8px 0 24px;
  padding-top: $topbar-height + 16px;
  float: left;
  position: fixed;
  overflow: auto;

  & > ul {
    list-style: none;
    padding: 0 0 8px 0;
  }

  .title {
    font-weight: bold;
    text-transform: uppercase;
  }

  .tree {
    overflow: auto;
  }

  footer {
    margin-top: 120px;
    text-align: center;
    color: #ccc;
  }
  footer a,
  footer a:visited {
    font-weight: bold;
    color: #aaa;
  }
  footer a:hover {
    color: #888;
  }
  footer ul {
    list-style: none;
    padding: 0;
  }
  footer li {
    display: inline-block;
    margin-right: 32px;
  }
}
