@import "normalize";
@import "syntax";
$octicons-font-path: "/assets/font";
@import "octicons";

// Vars
$color-brand: hsl(100, 86%, 32%);
$color-text: #444;

$topbar-height: 56px;
$sidebar-width: 300px;

/* Setup */
* {
  box-sizing: border-box;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: $color-text;
  background-color: #f2f2f2;
}

h1,h2,h3,h4,h5,h6 {
  color: #444;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
h1 {
  font-size: 32px;
  border-bottom: 1px solid #ccc;
}

h1 small {
  color: lighten(#444, 30%);
}

p {
  margin-bottom: 10px;
}

a, a:visited {
  color: $color-brand;
  text-decoration: none;
  font-weight: 600;
}

code {
  color: #000;
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
pre code {
  border: none;
}

/*
 *  Actual Styling!
 */
@import "topbar";
@import "sidebar";
@import "tree_view";

main {
  padding-left: $sidebar-width;
  padding-top: $topbar-height;
}

.content {
  margin: 30px;
  margin-left: 0;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}
.content h1:first-of-type {
  margin-top: 0;
}

.highlight {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
}

.actions {
  text-align: right;
  margin-bottom: -24px;
}

.alert {
  border: 1px solid;
  padding: 8px 16px;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bcdff1;
}

.history {
  border: 1px solid #bbb;
  padding: 0;

  li {
    border-bottom: 1px solid #bbb;
    padding: 8px 16px;
  }
  li:last-child {
    border: none;
  }
  .rev {
    display: inline-block;
    width: 80px;
  }
  .date {
    display: inline-block;
    width: 160px;
  }
}
