@import "normalize";
@import "syntax";
$octicons-font-path: "/assets/font";
@import "octicons";

// Vars
$color-blue: #2798dd;
$color-red: #dd2798;
$color-green: #98dd27;

$color-brand: $color-blue;
$color-text: #444;

$topbar-height: 56px;
$sidebar-width: 300px;

/* Setup */
* {
  box-sizing: border-box;
}
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: $color-text;
  background-color: #f2f2f2;
}

h1,h2,h3,h4,h5,h6 {
  color: #444;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 600;
}
h1 {
  font-size: 32px;
  border-bottom: 1px solid #ccc;
}

h1 small {
  color: lighten(#444, 30%);
}

p {
  margin-bottom: 10px;
}

a, a:visited {
  color: $color-brand;
  text-decoration: none;
  font-weight: 600;
}

code {
  color: #000;
  background: #f8f8f8;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
pre code {
  border: none;
}

textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 4px;
  resize: vertical;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075)
}
textarea:focus {
  border: 1px solid $color-brand;
}

button,
.btn {
  border-radius: 2px;
  background: $color-brand;
  color: #fff;
  background: $color-brand;
  background: linear-gradient(lighten($color-brand, 10%), $color-brand);
  border: 1px solid darken($color-brand, 10%);
  position: relative;
  z-index: 10;
}
button:hover, .btn:hover,
button:focus, .btn:focus,
button:active, .btn:active {
  background: $color-brand;
}

button::before,
.btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9;
  box-shadow: 0 2px 2px rgba(0,0,0,0.2);
}

.form-actions {
  text-align: right;
}

.lead {
  font-size: 1.25rem;
}


/*
 *  Actual Styling!
 */
@import "topbar";
@import "sidebar";
@import "tree_view";

main {
  padding-left: $sidebar-width;
  padding-top: $topbar-height;
}

.content {
  margin: 30px;
  margin-left: 0;
  padding: 30px;
  background: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
}
.content h1:first-of-type {
  margin-top: 0;
}

.highlight {
  background-color: #f8f8f8;
  padding: 10px;
  border-radius: 4px;
}

.actions {
  text-align: right;
  margin-bottom: -24px;

  a {
    border-right: none;
    color: #fff;
    font-weight: normal;
    padding: 2px 4px;
  }
  a:first-of-type {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  a:last-of-type {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-right: 1px solid darken($color-brand, 10%);
  }
}

.alert {
  border: 1px solid;
  padding: 8px 16px;
  margin-bottom: 16px;
}

.alert-info {
  color: darken($color-green, 20%);
  background-color: lighten($color-green, 20%);
  border-color: darken($color-green, 30%);
}
.alert-error {
  color: darken($color-red, 20%);
  background-color: lighten($color-red, 20%);
  border-color: darken($color-red, 30%);
}

.history {
  border: 1px solid #bbb;
  padding: 0;
  list-style: none;

  li {
    border-bottom: 1px solid #bbb;
    padding: 8px 16px;
  }
  li:last-child {
    border: none;
  }

  input[type='checkbox'] {
    margin-right: 8px;
  }

  .rev {
    display: inline-block;
    width: 80px;
  }
  .date {
    display: inline-block;
    width: 160px;
  }
}

.diff {
  width: 100%;
  overflow-x: hidden;
  font-family: monospace;
  border: 1px solid #ccc;
  margin: 10px 0;
  background: #eee;

  th {
    text-align: left;
    border-bottom: 1px solid #ccc;
    background: #ddd;
    padding: 4px;
  }

  tr td:first-child {
    width: 24px;
    text-align: center;
    vertical-align: top;
  }
}
.addition {
  background: #ccffcc;
  color: #060;
  border-color: #060;
}
.removal {
  background: #ffcccc;
  color: #600;
  border-color: #600;
}
a.addition,
a.removal {
  padding-left: 4px;
  padding-right: 4px;
  font-weight: normal;
  font-family: monospace;
  border: 1px solid;
  border-radius: 3px;
}

.edit {
  textarea {
    font-family: monospace;
    line-height: 1.1;
    font-size: 0.9em;
  }
}
